<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
	<context-param>
		<param-name>db_account</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>db_password</param-name>
		<param-value>123456</param-value>
	</context-param>
	
	<context-param>
		<param-name>db_url</param-name>
		<param-value>jdbc:mysql://localhost:3306/testdb20240808?serverTimezone=CST&amp;useSSL=false&amp;allowPublicKeyRetrieval=true</param-value>
	</context-param>
	
</web-app>
